<div class="tought-form-container">
    <a href="/toughts/dashboard">Return</a>
    <h1>Creating a Thought:</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Thought:</label>
            <input type="text" name="title" placeholder="Enter with your thoughts!...">
        </div>
        <input type="submit" value="Create thought!">
    </form>
</div>